@{
    ViewData["Title"] = "Home Page";
}

    <style>
    body {
        background-image: url('/assets/fondoLogin.jpg');
        background-size: cover;
        display: flex;
        flex-direction: column; /* Asegura que los elementos estén en columna */
        justify-content: space-between; /* Espacia los elementos */
        align-items: center;
        height: 100vh;
        margin: 0; /* Elimina el margen predeterminado del cuerpo */
    }

    a {
        background-color: rgba(13, 202, 141, 0.67);
        padding: 10px;
        border-radius: 25px;
        box-shadow: 0 0 20px rgba(13, 202, 16, 0.80); /* Efecto de sombra brillante */
    }

        a:hover {
            box-shadow: 0 0 25px rgba(242, 246, 240, 0.80);
        }

    section {
        background-color: rgba(96, 235, 190, 0.63);
        border-radius: 15px;
        text-align: center;
        padding: 20px; /* Añade relleno para mejorar el aspecto */
    }

    h1, h3 {
        text-align: center;
        justify-content: center;
        color: rgb(95, 79, 61);
    }

        h1, h3 {
            text-align: center;
            justify-content: center;
            color:rgb(95, 79, 61);
        }
    </style>
    <body>
    <section class="row justify-content-center text-center p-4">
       
    </section>
        
        
        
    </body>