
@{
    ViewData["Title"] = "Login";
}

@model ClinicaEspacioAbiertoFrontEnd.Models.Entidades.LoginModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        body {
            background-image: url('/assets/fondoLogin.jpg');
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        .login-container {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .login-container input {
            display: block;
            margin: 10px 0;
            width: 100%;
            padding: 10px;
        }
        .login-container button {
            padding: 10px 20px;
            margin-top: 10px;
        }
        .error-message {
            color: red;
            margin-top: 10px;
        }
        .login-container label{
            text-align: left;
            text-justify:initial;
        }
        h1,h3{
            text-align:center;
        }
    </style>
</head>
<body>
    <h1>Casa verde gestion</h1>
    <h3>Ingresar a la web</h3>
    <div class="login-container">
        
        <form asp-action="Login" method="post">
            <div class="mb-3">
                <label asp-for="Cedula" class="form-label">Usuario</label>
                <input asp-for="Cedula" placeholder="Usuario" type="text" />
                <span asp-validation-for="Cedula" class="error-message"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Contraseña</label>
                <input asp-for="Password" placeholder="Contraseña" type="password" />
                <span asp-validation-for="Password" class="error-message"></span>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <div class="error-message">@ViewData["ErrorMessage"]</div>
        </form>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>


