@model ClinicaEspacioAbiertoFrontEnd.Models.Entidades.Pagos

<form id="pagoForm" class="col-12 mt-2" method="post" asp-action="AgregarPagos" asp-controller="Pagos">
    <h3 class="mb-4">Agregar Pago</h3>

    <fieldset class="border p-3 mb-3">
        <legend class="w-auto px-2">Tipo de Pago</legend>
        
        <div class="form-check">
            <input type="radio" id="seleccionIngreso" name="tipoPago" value="Ingreso" class="form-check-input" checked>
            <label for="seleccionIngreso" class="form-check-label">Ingreso</label>
        </div>
        <div class="form-check">
            <input type="radio" id="seleccionEgreso" name="tipoPago" value="Egreso" class="form-check-input">
            <label for="seleccionEgreso" class="form-check-label">Egreso</label>
        </div>
        <div class="form-check">
            <input type="radio" id="Seleccionconsulta" name="tipoPago" value="consulta" class="form-check-input" >
            <label for="Seleccionconsulta" class="form-check-label">Consulta</label>
        </div>
    </fieldset>

    <!-- Campos visibles pero no editables -->
    <div id="pagoConsulta" class="mb-3" style="display:none">
        <h5>Detalles de la Consulta</h5>
        <div class="form-group">
            <label for="buscadorUsuario">Buscar Usuario</label>
            <input type="text" name="nombre_Usuario" id="buscadorUsuario" class="form-control" placeholder="Buscar usuario..." />
            <div id="sugerenciasUsuario" class="suggestions-container"></div>
        </div>
        <div class="form-group">
            <label for="fechaConsulta">Fecha de Consulta</label>
            <input type="date" id="fechaConsulta" name="fecha_consulta" class="form-control" />
        </div>
        <div class="form-group">
            <label for="convenio">Convenio</label>
            <input type="text" id="convenio" name="convenio" class="form-control" />
        </div>
    </div>

    <!-- Campos editables -->
    <h5>Información del Pago</h5>
    <div class="form-group row">
        <label for="fechaPago" class="col-sm-6 col-form-label">Fecha de Pago:</label>
        <div class="col-sm-6">
            <input type="date" id="fechaPago" class="form-control" asp-for="fecha_pago" value="@DateTime.Today.Date" />
        </div>
    </div>

    <div class="form-group row">
        <label for="metodoPago" class="col-sm-6 col-form-label">Método de Pago:</label>
        <div class="col-sm-6">
            <select id="metodoPago" class="form-control" asp-for="Tipo.NombreTipo">
                <option value="">Seleccione un método</option>
                <option value="Efectivo">Efectivo</option>
                <option value="Tarjeta">Tarjeta</option>
                <option value="Transferencia">Transferencia</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="Importe" class="col-sm-6 col-form-label">Monto de Pago:</label>
        <div class="col-sm-6">
            <input type="number" id="Importe" class="form-control" asp-for="Importe" />
        </div>
    </div>
    <div class="form-group row">
        <label for="Descripcion" class="col-sm-6 col-form-label">Factur:</label>
        <div class="col-sm-6">
            <input type="text" id="Descripcion" class="form-control" asp-for="nro_factura" />
        </div>
    </div>

    <input type="hidden" asp-for="insertdate" value="@DateTime.Today.Date" />

    <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
            <button type="submit" id="btnEnviar" class="btn btn-success btn-block">Generar Factura</button>
        </div>
    </div>
</form>

<style>
    /* Personalizar los estilos */
    .form-group label {
        font-weight: bold;
    }

    .suggestions-container {
        position: absolute;
        z-index: 1000;
        background: white;
        border: 1px solid #ccc;
        max-height: 150px;
        overflow-y: auto;
        display: none; /* Por defecto está oculto */
        width: calc(100% - 1rem); /* Asegúrate de que ocupe el ancho adecuado */
    }

        .suggestions-container p {
            margin: 0;
            padding: 5px;
            cursor: pointer;
        }


</style>




        

<script>
    $(document).ready(function () {
        // Mostrar el campo de búsqueda al hacer clic en "Para otro empleado"
        $('#Seleccionconsulta').on('click', function () {
            $('#pagoConsulta').show(); // Mostrar el campo de búsqueda de empleados
        });

        // Ocultar el campo de búsqueda si seleccionan "Para mí"
        $('#seleccionEgreso').on('click', function () {
            $('#pagoConsulta').hide(); // Ocultar el campo de búsqueda
        });
        $('#seleccionIngreso').on('click', function () {
            $('#pagoConsulta').hide(); // Ocultar el campo de búsqueda
        });

        // Asegurarse de que el campo de búsqueda esté oculto inicialmente si se selecciona "Para mí"
        if ($('#seleccionIngreso').is(':checked')) {
            $('#pagoConsulta').hide(); // Ocultar por defecto
        }

        $('#buscadorUsuario').on('input', function () {
            var term = $(this).val().trim();

            if (term.length > 0) {
                $.ajax({
                    url: '/Consultas/BuscarUsuario',
                    data: { term: term },
                    success: function (data) {
                        displayUserSuggestions(data);
                    },
                    error: function () {
                        console.error('Error al buscar usuario');
                    }
                });
            } else {
                $('#sugerenciasUsuario').empty();
            }
        });

            function displayUserSuggestions(suggestions) {
            var $suggestionsContainer = $('#sugerenciasUsuario');
            $suggestionsContainer.empty();

            if (suggestions.length === 0) {
                // Si no hay sugerencias, asegúrate de ocultar el contenedor
                $suggestionsContainer.hide();
                return;
            }

            // Mostrar el contenedor
            $suggestionsContainer.show();

            suggestions.forEach(function (item) {
                var primerNombre = item.PrimerNombre;
                var primerApellido = item.PrimerApellido;
                var id = item.ID;

                var suggestion = $("<button></button>")
                    .addClass("btn-sm suggestion-btn btn-light w-100 text-left")
                    .text(primerNombre + " " + primerApellido)
                    .attr("data-id", id);

                suggestion.on("click", function () {
                    $('#buscadorUsuario').val(primerNombre + " " + primerApellido);
                    $('#buscadorUsuario').attr("data-id", id);
                    $suggestionsContainer.empty();
                    $suggestionsContainer.hide(); // Ocultar el contenedor después de seleccionar
                });

                $suggestionsContainer.append(suggestion);
            });
        }
        $(document).ready(function () {
            $('#pagoForm').on('submit', function (e) {
                e.preventDefault();

                // Mostrar el ícono de carga
                document.getElementById('loaderOverlay').style.visibility = 'visible'; // Mostrar el loader

                var formData = $(this).serialize();

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    success: function (response) {
                        // Ocultar el ícono de carga
                        document.getElementById('loaderOverlay').style.visibility = 'hidden'; // Ocultar el loader
                        // Mostrar el modal con la respuesta del servidor
                        $('#modalBody').html(response);
                        $('#facturacionModal').show();
                    },
                    error: function (xhr, status, error) {
                        // Ocultar el ícono de carga
                        document.getElementById('loaderOverlay').style.visibility = 'hidden'; // Ocultar el loader
                        $('#loader').hide();
                        alert('Error: ' + xhr.responseText);
                    }
                });
            });

            $('.modal .close').on('click', function () {
                $('#facturacionModal').hide();
            });

            $(window).on('click', function (event) {
                if ($(event.target).is('#facturacionModal')) {
                    $('#facturacionModal').hide();
                }
            });
        });

</script>

