@model ClinicaEspacioAbiertoFrontEnd.Models.Entidades.ConsultasModel

<div class="modal fade" id="comentarioModal" tabindex="-1" aria-labelledby="comentarioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin:0;" id="comentarioModalLabel">Agregar comentarios a la consulta</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Ingrese un comentario para la sesión</h5>
                <p><strong>Nombre de usuario: </strong>@Model.NombreUsuario</p>
                <p><strong>Fecha de consulta: </strong>@Model.Fecha_Consulta</p>
                
                <form id="formComentario" method="post">
                    <input type="hidden" id="idSesion" value="@Model.ID" />
                    
                    <div class="form-group">
                        <label for="comentarioNuevo">Ingrese su comentario a la consulta</label>
                        <textarea id="comentarioNuevo" class="form-control" placeholder="Comentario"></textarea>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="enviarComentario()">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>