


        <form method="post" asp-action="AgregarConsulta" asp-controller="Consultas" class="form-container ">
            <label for="fechaInicio">Fecha inicio de consultas</label>
    <input type="date" class="form-control" name="Fecha_Inicio" id="fechaInicio" /><br />
            <label for="fechaFin">Fecha final de consultas</label>
    <input type="date" class="form-control" id="Fecha_Fin" name="Fecha_Fin" /><br />
            <label for="horaInicio">
                Hora de inicio de consulta
            </label>
    <input type="time" class="form-control" id="horaInicio" name="Hora_inicio" /><br />
            <label for="horaFin">
                Hora de finalización de consulta
            </label>
    <input type="time" class="form-control" id="horaFin" name="Hora_Fin" /><br />
            <label form="buscadorTecnico">
                Buscar tecnico
            </label>
    <input type="text" class="form-control" id="buscadorTecnico" name="Nombre_empleado" placeholder="Buscar técnico..." /><br />
            <div id="sugerenciasTecnico" class="suggestions-container"></div><br />
            <label form="buscadorUsuario">
                Buscar usuario
            </label>
    <input type="text" class="form-control" name="NombreUsuario" id="buscadorUsuario" placeholder="Buscar usuario..." /><br />
            <div id="sugerenciasUsuario" class="suggestions-container"></div><br />
            <label for="convenio">Convenio</label>
    <select id="convenio" class="form-control" name="Convenio">
                <option value="null">Seleccione un convenio</option>
                <option value="Ayex">Ayex</option>
                <option value="Hospital Policial">Hospital Policial</option>
                <option value="Huella">Huella</option>
                <option value="INIA">INIA</option>
                <option value="SUNCA">SUNCA</option>
                <option value="Hospital Militar">Hospital Militar</option>
            </select>
            <label for="Sucursal">Sucursal</label>
    <select id="sucursalSelect" class="form-control" name="Sucursal" aria-label="Small select example">
                <option value="todas" selected>Sin sucursal identificada</option>
                <option value="Anexo">Anexo</option>
                <option value="Varela">Varela</option>
            </select>
            <label for="numeroConsultorio">Ingrese el numero de consultorio</label>
    <input type="number" class="form-control" id="numeroConsultorio" name="n_consultorio" /><br />
    <input type="submit" asp-action="AgregarConsultaPartial" asp-controller="Consultas" class="btn-success m-2" value="Agregar consultas" />
        </form>
        <div>
            <p>@ViewBag.Error</p>


<script>
    $('#buscadorTecnico').on('input', function () {
        var term = $(this).val().trim();

        if (term.length > 0) {
            $.ajax({
                url: '/Consultas/BuscarTecnico',
                data: { term: term },
                success: function (data) {
                    displayTechnicianSuggestions(data);
                },
                error: function () {
                    console.error('Error al buscar técnico');
                }
            });
        } else {
            $('#sugerenciasTecnico').empty();
        }
    });

    $('#buscadorUsuario').on('input', function () {
        var term = $(this).val().trim();

        if (term.length > 0) {
            $.ajax({
                url: '/Consultas/BuscarUsuario',
                data: { term: term },
                success: function (data) {
                    displayUserSuggestions(data);
                },
                error: function () {
                    console.error('Error al buscar usuario');
                }
            });
        } else {
            $('#sugerenciasUsuario').empty();
        }
    });

    function displayTechnicianSuggestions(suggestions) {
        var $suggestionsContainer = $('#sugerenciasTecnico');
        $suggestionsContainer.empty();

        suggestions.forEach(function (item) {
            var primerNombre = item.primerNombre;
            var primerApellido = item.primerApellido;
            var id = item.id;

            if (!primerNombre || !primerApellido || !id) {
                console.error("La estructura del objeto técnico no es la esperada:", item);
                return;
            }

            var suggestion = $("<button></button>")
                .addClass("btn-sm suggestion-btn btn-light")
                .text(primerNombre + " " + primerApellido)
                .attr("data-id", id);

            suggestion.on("click", function () {
                $('#buscadorTecnico').val(primerNombre + " " + primerApellido);
                $('#buscadorTecnico').attr("data-id", id);
                $suggestionsContainer.empty();
            });

            $suggestionsContainer.append(suggestion);
        });
    }

    function displayUserSuggestions(suggestions) {
        var $suggestionsContainer = $('#sugerenciasUsuario');
        $suggestionsContainer.empty();

        suggestions.forEach(function (item) {
            var primerNombre = item.primerNombre;
            var primerApellido = item.primerApellido;
            var id = item.id;

            if (!primerNombre || !primerApellido || !id) {
                console.error("La estructura del objeto usuario no es la esperada:", item);
                return;
            }

            var suggestion = $("<button></button>")
                .addClass("btn-sm suggestion-btn btn-light")
                .text(primerNombre + " " + primerApellido)
                .attr("data-id", id);

            suggestion.on("click", function () {
                $('#buscadorUsuario').val(primerNombre + " " + primerApellido);
                $('#buscadorUsuario').attr("data-id", id);
                $suggestionsContainer.empty();
            });

            $suggestionsContainer.append(suggestion);
        });
    }
    flatpickr("#horaInicio", {
        enableTime: true,
        noCalendar: true,
        time_24hr: true,
        dateFormat: "H:i",
    });

    flatpickr("#horaFin", {
        enableTime: true,
        noCalendar: true,
        time_24hr: true,
        dateFormat: "H:i",
    });
    flatpickr("#fechaInicio", {
        dateFormat: "Y-m-d", // Formato de fecha (Año-Mes-Día)
        locale: "es"
    });

    flatpickr("#Fecha_Fin", {
        dateFormat: "Y-m-d", // Formato de fecha (Año-Mes-Día)
        locale: "es"
    });
</script>
