

<div id="modalAgregado" >
    <div class="m-3">
    <h3>Agregar consulta:</h3>
    <form method="post" asp-action="AgregarConsulta" asp-controller="Consultas" class="form-container ">
        <label for="fechaInicio">Fecha inicio de consultas</label>
        <input type="date" name="Fecha_Inicio" id="fechaInicio" /><br />
        <label for="fechaFin">Fecha final de consultas</label>
        <input type="date" id="Fecha_Fin" name="Fecha_Fin" /><br />
        <label for="horaInicio">
            Hora de inicio de consulta
        </label>
        <input type="time" id="horaInicio" name="Hora_inicio" /><br />
        <label for="horaFin">
            Hora de finalización de consulta
        </label>
        <input type="time" id="horaFin" name="Hora_Fin"/><br />
        <label form="buscadorTecnico">
            Buscar tecnico
        </label>
        <input type="text" id="buscadorTecnico" name="Nombre_empleado" placeholder="Buscar técnico..." /><br />
        <div id="sugerenciasTecnico" class="suggestions-container"></div><br />
        <label form="buscadorUsuario">
            Buscar usuario
        </label>
        <input type="text" name="NombreUsuario" id="buscadorUsuario" placeholder="Buscar usuario..." /><br />
        <div id="sugerenciasUsuario" class="suggestions-container"></div><br />
        <label for="convenio">Convenio</label>
        <select id="convenio" name="Convenio">
            <option value="null">Seleccione un convenio</option>
            <option value="Ayex">Ayex</option>
            <option value="Hospital Policial">Hospital Policial</option>
            <option value="Huella">Huella</option>
            <option value="INIA">INIA</option>
            <option value="SUNCA">SUNCA</option>
            <option value="Hospital Militar">Hospital Militar</option>
        </select>
            <label for="Sucursal">Sucursal</label>
        <select id="sucursalSelect" name="Sucursal" aria-label="Small select example">
            <option value="todas" selected>Sin sucursal identificada</option>
            <option value="Anexo">Anexo</option>
            <option value="Varela">Varela</option>
        </select>
        <label for="numeroConsultorio">Ingrese el numero de consultorio</label>
        <input type="number" id="numeroConsultorio" name="n_consultorio" /><br />


        <input type="submit" asp-action="AgregarConsulta" asp-controller="Consultas" class="btn-success m-2" value="Agregar consultas" />
    </form>
    <div>
        <p>@ViewBag.Error</p>
    </div>
    </div>
</div>

<style>

    .form-container {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgb(49, 49, 49);
        padding: 20px;
        max-width: 600px;
        width:70%;
        border:1px solid rgb(191, 191, 191);

    }

    h3 {
        color: #333;
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        color: #555;
    }

    .form-input,
    .form-select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: border-color 0.3s;
    }

        .form-input:focus,
        .form-select:focus {
            border-color: #007BFF;
            outline: none;
        }

    .btn-submit {
        background-color: #007BFF;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s, transform 0.2s;
        width: 100%;
    }

        .btn-submit:hover {
            background-color: #0056b3;
            transform: translateY(-2px);
        }

    .error-message {
        color: red;
        margin-top: 10px;
        font-size: 14px;
    }

    .suggestions-container {
        position: absolute;
        background-color: #fff;
        border-radius: 4px;
        max-height: 200px;
        overflow-y: auto;
        width: 100%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        margin-top: -10px; /* para alinearlo con el input */
    }

    .suggestion-btn {
        display: block;
        width: 100%;
        text-align: left;
        padding: 8px 12px;
        border: none;
        background: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .suggestion-btn:hover {
            background-color: #f1f1f1;
        }


</style>

<script>
    $('#buscadorTecnico').on('input', function () {
        var term = $(this).val().trim();

        if (term.length > 0) {
            $.ajax({
                url: '/Consultas/BuscarTecnico',
                data: { term: term },
                success: function (data) {
                    displayTechnicianSuggestions(data);
                },
                error: function () {
                    console.error('Error al buscar técnico');
                }
            });
        } else {
            $('#sugerenciasTecnico').empty();
        }
    });

    $('#buscadorUsuario').on('input', function () {
        var term = $(this).val().trim();

        if (term.length > 0) {
            $.ajax({
                url: '/Consultas/BuscarUsuario',
                data: { term: term },
                success: function (data) {
                    displayUserSuggestions(data);
                },
                error: function () {
                    console.error('Error al buscar usuario');
                }
            });
        } else {
            $('#sugerenciasUsuario').empty();
        }
    });

    function displayTechnicianSuggestions(suggestions) {
        var $suggestionsContainer = $('#sugerenciasTecnico');
        $suggestionsContainer.empty();

        suggestions.forEach(function (item) {
            var primerNombre = item.primerNombre;
            var primerApellido = item.primerApellido;
            var id = item.id;

            if (!primerNombre || !primerApellido || !id) {
                console.error("La estructura del objeto técnico no es la esperada:", item);
                return;
            }

            var suggestion = $("<button></button>")
                .addClass("btn-sm suggestion-btn btn-light")
                .text(primerNombre + " " + primerApellido)
                .attr("data-id", id);

            suggestion.on("click", function () {
                $('#buscadorTecnico').val(primerNombre + " " + primerApellido);
                $('#buscadorTecnico').attr("data-id", id);
                $suggestionsContainer.empty();
            });

            $suggestionsContainer.append(suggestion);
        });
    }

    function displayUserSuggestions(suggestions) {
        var $suggestionsContainer = $('#sugerenciasUsuario');
        $suggestionsContainer.empty();

        suggestions.forEach(function (item) {
            var primerNombre = item.primerNombre;
            var primerApellido = item.primerApellido;
            var id = item.id;

            if (!primerNombre || !primerApellido || !id) {
                console.error("La estructura del objeto usuario no es la esperada:", item);
                return;
            }

            var suggestion = $("<button></button>")
                .addClass("btn-sm suggestion-btn btn-light")
                .text(primerNombre + " " + primerApellido)
                .attr("data-id", id);

            suggestion.on("click", function () {
                $('#buscadorUsuario').val(primerNombre + " " + primerApellido);
                $('#buscadorUsuario').attr("data-id", id);
                $suggestionsContainer.empty();
            });

            $suggestionsContainer.append(suggestion);
        });
    }
    flatpickr("#horaInicio", {
        enableTime: true,
        noCalendar: true,
        time_24hr: true,
        dateFormat: "H:i",
    });

    flatpickr("#horaFin", {
        enableTime: true,
        noCalendar: true,
        time_24hr: true,
        dateFormat: "H:i",
    });
    flatpickr("#fechaInicio", {
        dateFormat: "Y-m-d", // Formato de fecha (Año-Mes-Día)
        locale: "es"
    });

    flatpickr("#Fecha_Fin", {
        dateFormat: "Y-m-d", // Formato de fecha (Año-Mes-Día)
        locale: "es"
    });
</script>
