@model IEnumerable<ClinicaEspacioAbiertoFrontEnd.Models.Entidades.ValueObjects.MedicoModel>
@{
    ViewBag.Title = "Listado de Consultas";
    var horaActual = DateTime.Now.ToString("HH:mm:ss");
    
}
<link rel="stylesheet" href="~/css/listaConsultas.css" />
<!--Opciones de filtrado-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/consultas.js">
</script>

<div class="row g-0 m-0">
        <div class="menuDiv justify-content-start">
            <ul class="menuList">
                <li class="menuLi p-2">
                    <a href="#" id="consultasDelDia" class="menuItem">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon svgIcon icon-tabler icon-tabler-user-search" width="24" height="24" viewBox="0 0 26 26" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h1.5" />
                            <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                            <path d="M20.2 20.2l1.8 1.8" />
                        </svg>Consultas del día por médico
                    </a>
                </li>
                <li class="menuLi p-2">
                    <a href="#" class="menuItem" id="filtrarPorFecha">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon svgIcon icon-tabler icon-tabler-adjustments-horizontal" width="24" height="24" viewBox="0 0 26 26" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M14 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M4 6l8 0" />
                            <path d="M16 6l4 0" />
                            <path d="M8 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M4 12l2 0" />
                            <path d="M10 12l10 0" />
                            <path d="M17 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M4 18l11 0" />
                            <path d="M19 18l1 0" />
                        </svg>Filtros
                    </a>
                </li>
                <li class="menuLi p-2">
                    <a href="#" class="menuItem" id="consultasConPagosPendientes">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon svgIcon icon-tabler icon-tabler-receipt-2" width="24" height="24" viewBox="0 0 26 26" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2" />
                            <path d="M14 8h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5m2 0v1.5m0 -9v1.5" />
                        </svg>Consultas con pagos pendientes
                    </a>
                </li>
            </ul>
        </div>
</div>



<section class="row g-0 m-4 justify-content-center">
    <div id="filterPanel1" class="row" style="display: none; margin-top: 20px;">
        <div id="filter" class="justify-content-center algin-items-center" style="display: none;">
            <div class="col-12 row">
                <p class="col-8">Complete los campos por los que desea filtrar sus consultas</p>
                <form class="col-4 text-end" method="post" action="/Consultas/DescargarExcel">
                    <button type="submit" class="btn btn-success">Descargar Excel</button>
                </form>
            </div>
            
            @if (Model != null)
            {
                <form id="filterForm" class="filter-form">
                    <p><strong>Filtrar por fecha</strong></p>
                    <div class="form-group">
                        <input type="checkbox" id="toggleDateRange" />
                        <label for="toggleDateRange">Buscar entre dos fechas</label>
                    </div>
                    <div class="form-group">
                        <label for="dateConsulta" id="labelDate">Fecha de consulta:</label>
                        <input type="date" id="dateConsulta" name="FechaConsulta" class="form-control" />
                    </div>
                    <div class="form-group" id="dateRangeFields" style="display: none;">
                        <label for="dateStart" id="labelStart">Fecha de inicio:</label>
                        <input type="date" id="dateStart" name="FechaInicial" class="form-control" />
                        <label for="dateEnd" id="labelEnd">Fecha de fin:</label>
                        <input type="date" id="dateEnd" name="FechaFinal" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="buscadorTecnicoFiltro">Técnico:</label>
                        <input type="text" id="buscadorTecnicoFiltro" name="NombreTecnico" autocomplete="off" class="form-control" />
                        <div id="sugerenciasTecnicoFiltro" class="suggestions-container"></div> <!-- Cambia aquí -->
                    </div>
                    <div class="form-group">
                        <label for="buscadorUsuarioFiltro">Nombre de usuario:</label>
                        <input type="text" id="buscadorUsuarioFiltro" name="IdUsuario" autocomplete="off" class="form-control" />
                        <div id="sugerenciasUsuarioFiltro" class="suggestions-container"></div> <!-- Cambia aquí -->
                    </div>

                    <button type="submit" class="btn btn-primary" id="botonFiltrar">Filtrar</button>
                </form>
            }
        </div>
    </div>

    <section id="tablaFiltro" class="g-0  justify-content-center">
    </section>

    <section id="tablePorMedico" class="g-0  justify-content-center">
    </section>
    <section id="tablePendientes" class="g-0  justify-content-center">
    </section>

    <section id="tablePorDia" class="g-0  justify-content-center">
        @await Html.PartialAsync("_vistaConsultasPorMedico", Model) <!-- Incluye la vista parcial aquí -->
    </section>
</section>
   
    

<div id="editModal" class="modal" >
    <div class="modal-content">
        <div class="modal-header">
            <h4>Editar datos de una consulta</h4>
            <span class="close" onclick="closeEditModal()">&times;</span>
        </div>
        <p class="mt-4">Edita los datos necesarios y haz clic en el botón <span>Guardar cambios</span>.</p>
        <div id="editModalBody"></div> <!-- Aquí se llenará el formulario -->
    </div>
</div>
<div id="pagoModal" class="modal justify-content-center" >
        <div id="modalPago" class="modal-content">
            <div class="modal-header">
                <h4>Agregar pago</h4>
                <span class="close" onclick="closePagoModal()" >&times;</span>

            </div>
            <div  id="pagoModalBody"></div>
     </div>
</div>

<div id="consultaAgregarModal" class="modal justify-content-center">
        <div id="modalConsulta" class="modal-content">
        <div class="modal-header">
        <h4>Agregar consulta</h4>
        <span class="close" onclick="closeAgregarModal()">&times;</span>
            </div>
            <div id="AgregarModal" ></div>
        
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/listaPorDia.js"></script>

    <script>

    function showEditForm(consultaId) {
        $.ajax({
            url: '/Consultas/Edit',
            type: 'GET',
            data: { id: consultaId },
            success: function (response) {
                $('#editModalBody').html(response); // Cargar el formulario en el modal
                $('#editModal').show(); // Mostrar el modal después de cargar el contenido
            },
            error: function () {
                alert('Error al cargar la vista de edición');
            }
        });
    }

    function closeEditModal() {
        $('#editModal').hide(); // Oculta el modal
        $('#editModalBody').html(''); // Limpia el contenido del modal
    }

    $(window).on('click', function (event) {
        if (event.target.id === 'editModal') {
            closeEditModal();
        }
    });
    // Llamada después de la edición
    function afterEdit() {
        actualizarConsultas(); // Actualiza la lista de consultas
    }

    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }
    function closeAgregarModal() {
        var modal = document.getElementById("consultaAgregarModal");
        modal.style.display = "none";
    }
    function closePagoModal() {
        var modal = document.getElementById("pagoModal");
        model.style.display = "none";
    }


    $('#buscadorTecnicoFiltro').on('input', function () {
        var term = $(this).val().trim();

        if (term.length > 0) {
            $.ajax({
                url: '/Consultas/BuscarTecnico',
                data: { term: term },
                success: function (data) {
                    displayTechnicianSuggestions(data);
                },
                error: function () {
                    console.error('Error al buscar técnico');
                }
            });
        } else {
            $('#sugerenciasTecnicoFiltro').empty();
        }
    });

    $('#buscadorUsuarioFiltro').on('input', function () {
        var term = $(this).val().trim();

        if (term.length > 0) {
            $.ajax({
                url: '/Consultas/BuscarUsuario',
                data: { term: term },
                success: function (data) {
                    displayUserSuggestions(data);
                },
                error: function () {
                    console.error('Error al buscar usuario');
                }
            });
        } else {
            $('#sugerenciasUsuarioFiltro').empty();
        }
    });

    function displayTechnicianSuggestions(suggestions) {
        var $suggestionsContainer = $('#sugerenciasTecnicoFiltro');
        $suggestionsContainer.empty();

        if (suggestions.length > 0) {
            $suggestionsContainer.addClass('active'); // Muestra el contenedor
        } else {
            $suggestionsContainer.removeClass('active'); // Oculta si no hay sugerencias
        }

        suggestions.forEach(function (item) {
            var suggestion = $("<button></button>")
                .addClass("btn-sm suggestion-btn btn-light")
                .text(item.primerNombre + " " + item.primerApellido)
                .attr("data-id", item.id);

            suggestion.on("click", function () {
                $('#buscadorTecnicoFiltro').val(item.primerNombre + " " + item.primerApellido);
                $('#buscadorTecnicoFiltro').attr("data-id", item.id);
                $suggestionsContainer.empty();
                $suggestionsContainer.removeClass('active'); // Oculta las sugerencias después de seleccionar
            });

            $suggestionsContainer.append(suggestion);
        });
    }
    function displayUserSuggestions(suggestions) {
        var $suggestionsContainer = $('#sugerenciasUsuarioFiltro');
        $suggestionsContainer.empty();

        if (suggestions.length > 0) {
            $suggestionsContainer.addClass('active'); // Muestra el contenedor
        } else {
            $suggestionsContainer.removeClass('active'); // Oculta si no hay sugerencias
        }

        suggestions.forEach(function (item) {
            var suggestion = $("<button></button>")
                .addClass("btn-sm suggestion-btn btn-light")
                .text(item.primerNombre + " " + item.primerApellido)
                .attr("data-id", item.id);

            suggestion.on("click", function () {
                $('#buscadorUsuarioFiltro').val(item.primerNombre + " " + item.primerApellido);
                $('#buscadorUsuarioFiltro').attr("data-id", item.id);
                $suggestionsContainer.empty();
                $suggestionsContainer.removeClass('active'); // Oculta las sugerencias después de seleccionar
            });

            $suggestionsContainer.append(suggestion);
        });
    }

    function filtrarPorSucursal() {
        var sucursal = document.getElementById("sucursalSelect").value;
        var filas = document.querySelectorAll("#tablePorDia tbody tr");

        filas.forEach(function (fila) {
            fila.querySelectorAll('td ul li[data-sucursal]').forEach(function (consulta) {
                // Mostrar u ocultar cada celda según la sucursal seleccionada
                if (sucursal === "todas" || consulta.getAttribute("data-sucursal") === sucursal) {
                    consulta.style.display = "";  // Mostrar la celda
                } else {
                    consulta.style.display = "none";  // Ocultar la celda
                }
            });
        });
    }
    function actualizarConsultas() {
        $.ajax({
            url: '/Consultas/ListarConsultasPorDia', // URL que apunta al método ListarConsultasPorDia
            type: 'GET',
            success: function (response) {
                $('#tablePorDia').html(response); // Actualiza el contenido de la vista parcial
                $('#tablePorMedico').hide();
                $('#filterPanel1').hide();
            },
            error: function (xhr, status, error) {
                console.error("Error al actualizar la lista de consultas: " + xhr.responseText);
            }
        });
    }
    function actualizarConsultasPorMedico() {
        $.ajax({
            url: '/Consultas/ListarConsultasPorMedico', // URL que apunta al método ListarConsultasPorDia
            type: 'GET',
            success: function (response) {
                $('#tablePorMedico').html(response); // Actualiza el contenido de la vista parcial
                $('#tablePorDia').hide();
                $('#filterPanel1').hide();
            },
            error: function (xhr, status, error) {
                console.error("Error al actualizar la lista de consultas: " + xhr.responseText);
            }
        });
    }
    function addPago(idConsulta) {
        $.ajax({
            url: '/Pagos/AgregarPagos',
            type: 'GET',
            data: { idConsulta: idConsulta },
            success: function (response) {
                $('#pagoModalBody').html(response);
                openPagoModal();
            },
            error: function () {
                alert('Error al cargar la vista de pagos');
            }
        });
    }

    function openPagoModal() {
        $('#pagoModal').show();
    }

    function closePagoModal() {
        $('#pagoModal').hide();
    }
    function openModal() {
        $('#myModal').css('display', 'block');
    }

    function closeModal() {
        $('#myModal').css('display', 'none');
    }


    $(document).ready(function () {
        // Delegación de eventos para los elementos que puedan ser reemplazados
        $(document).on('click', '#consultasConPagosPendientes', function (e) {
            e.preventDefault();
            console.log("Botón clickeado");
            $.ajax({
                type: 'GET',
                url: '/Consultas/ListarConsultasPendientes',
                success: function (response) {
                    $('#tablePendientes').html(response);
                    $('#tablePendientes').show();
                    $('#tablePorMedico').hide();
                    $('#tablePorDia').hide();
                    $('#tablaFiltro').hide();
                    $('#filterPanel1').hide();
                    $('#DivtablaxMedico').hide();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
        $(document).ready(function () {
            // Delegación de eventos para los elementos que puedan ser reemplazados
            $(document).on('click', '#btnListarConsultasPorMedico', function (e) {
                e.preventDefault();
                console.log("Botón clickeado");
                $.ajax({
                    type: 'GET',
                    url: '/Consultas/ListarConsultasPorMedico',
                    success: function (response) {
                        $('#tablePorMedico').html(response);
                        $('#tablePorMedico').show();
                        $('#tablePorDia').hide();
                        $('#filterPanel1').hide();
                        $('#tablaFiltro').hide();
                        $('#DivtablaxMedico').show();
                        $('#tablePendientes').hide();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });

            $(document).on('click', '#consultasDelDia', function (e) {
                e.preventDefault();
                console.log("Botón clickeado");
                $.ajax({
                    type: 'GET',
                    url: '/Consultas/ListarConsultasPorDia',
                    success: function (response) {
                        $('#tablePorDia').html(response);
                        $('#tablePorDia').show();
                        $('#tablePorMedico').hide();
                        $('#tablaFiltro').hide();
                        $('#filterPanel1').hide();
                        $('#tablePendientes').hide();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
            $(document).on('click', '#filtrarPorFecha', function (e) {
                e.preventDefault();
                console.log("Botón de filtrar clickeado");
                $('#filterPanel1').show();
                $('#filter').show();
                $('#tablePorDia').hide();
                $('#tablaFiltro').show();
                $('#tablePendientes').hide();
                $('#tablePorMedico').hide();
            });

            // Manejador para la casilla de verificación de rango de fechas
            $('#toggleDateRange').on('change', function () {
                if (this.checked) {
                    $('#dateConsulta').hide();
                    $('#dateRangeFields').show();
                    $('#dateStart').show();
                    $('#dateEnd').show();
                    $('#labelStart').show();
                    $('#labelEnd').show();
                    $('#labelDate').hide();
                } else {
                    $('#dateConsulta').show();
                    $('#labelDate').show();
                    $('#dateStart').hide();
                    $('#dateRangeFields').hide();
                    $('#dateEnd').hide();
                    $('#labelStart').hide();
                    $('#labelEnd').hide();
                }
            });
        });
    });
    $(document).ready(function () {
        // Manejo del envío del formulario de filtro
        $('#filterForm').on('submit', function (e) {
            e.preventDefault(); // Evita que el formulario recargue la página

            var formData = $(this).serialize(); // Obtiene los datos del formulario

            $.ajax({
                url: '/Consultas/Filtrado', // Asegúrate de que esta URL esté correcta
                type: 'POST',
                data: formData,
                success: function (response) {
                    $('#tablaFiltro').html(response); // Actualiza la vista con los resultados filtrados
                    $('#tablaFiltro').show();
                    $('#tablePorDia').hide();
                    $('#tablePorMedico').hide();
                    $('#tablePendientes').hide();
                },
                error: function (xhr, status, error) {
                    console.error('Error al aplicar el filtro: ' + xhr.responseText);
                }
            });
        });
    });
    document.querySelectorAll('.menuItem').forEach(item => {
        item.addEventListener('click', function () {
            document.querySelectorAll('.menuItem').forEach(link => link.classList.remove('active'));
            this.classList.add('active');
        });
    });
    function showNuevaConsultaForm() {
        $.ajax({
            url: '/Consultas/AgregarUnaNuevaConsulta', // Cambia la URL según sea necesario
            type: 'GET',
            success: function (response) {
                $('#AgregarModal').html(response); // Usa 'response' en lugar de 'data'
                $('#consultaAgregarModal').show(); // Muestra el modal
                
            },
            error: function () {
                alert('Error al cargar la vista de pagos');
            }
        });
    }

    </script>
    