
@model IEnumerable<ClinicaEspacioAbiertoFrontEnd.Models.Entidades.Convenio>

<ul class="list-unstyled">
    @foreach (var convenio in Model)
    {
        <li>
            <a class="dropdown-item" asp-area="" asp-controller="Convenio" asp-action="DetallesConvenioActualizado" asp-route-nombreConvenio="@convenio.nombre_convenio">
                @convenio.nombre_convenio
            </a>
        </li>
    }
    <li><a class="dropdown-item" asp-area="" asp-controller="Convenio" asp-action="AgregarConvenio">+ Agregar convenio</a></li>
</ul>
