/* Estilo para el contenedor de la tabla */


/* Paginación estilo (opcional si lo usas) */
.pagination {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    padding: 4px;
    gap: 10px;
    border-radius: 4px;
}

    .pagination a {
        margin: 0 5px;
        padding: 8px 12px;
        border-radius: 5px;
        color: black;
        text-decoration: none;
    }

        .pagination a.active {
            background-color: var(--colorAzul);
            color: var(--colorBlanco);
        }
