@model ClinicaEspacioAbiertoFrontEnd.Models.Entidades.TareasModel


    @if (Model != null)
    {
        <div class="modal-header">
            <h3 class="modal-title">Tarea confirmada</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>Detalles:</strong></p><br />
            <p><strong>Título: </strong>@Model.Titulo</p>
            <p><strong>Descripción: </strong>@Model.Descripcion</p>
            <p><strong>Fecha Inicio: </strong>@Model.Fecha_Inicio.Date.ToString("dd/MM/yyyy")</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
    }
    else
    {
        <div class="modal-header">
            <h3 class="modal-title">@ViewBag.Error</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Verifique sus datos e intente nuevamente.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
    }

<script>
    function cerrarModal() {
        var modal = document.querySelector(".modal");
        if (modal) {
            modal.style.display = "none";
        }
    }
</script>