
@{
    ViewData["Title"] = "VerDocumentos";
}

@model IEnumerable<ClinicaEspacioAbiertoFrontEnd.Models.Entidades.ValueObjects.FileMetadata>


<h2>Documentos en la Carpeta</h2>
<div id="drop-area" style="border: 2px dashed #ccc; padding: 20px; text-align: center;">
    <p>Arrastra y suelta archivos aquí para subirlos a Google Drive</p>
</div>
<table>
    <thead>
        <tr>
            <th>Nombre del archivo</th>
            <th>Tipo</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var archivo in Model)
        {
            <tr>
                <td>
                    @if (archivo.IsFolder)
                    {
                        @archivo.Nombre
                    }
                    else
                    {
                        @archivo.Nombre
                    }
                </td>
                <td>
                    @if (archivo.IsFolder)
                    {
                        <span>📁 (Carpeta)</span>
                    }
                    else
                    {
                        <span>📄 (Archivo)</span>
                    }
                </td>
                <td>
                    @if (!archivo.IsFolder) // Solo muestra el botón de descargar si no es una carpeta
                    {
                        <a asp-action="DescargarArchivo" asp-route-fileId="@archivo.Id" class="btn btn-primary">
                            Descargar
                        </a>
                    }
                    else
                    {
                        <a asp-action="VerDocumentosEnCarpeta" asp-controller="EmpleadoSistemas" asp-route-folderId="@archivo.Id" class="btn btn-primary">
                            Abrir carpeta
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
